/* Palette :  https://coolors.co/0a0a0a-c0c0c0-9e1b32-d4af37-0072b5

 Fond du site                           : #0a0a0a
 Titres, bordures, effets métalliques   : #c0c0c0
 Accents, boutons, liens                : #9e1b32
 Surbrillance, icônes                   : #d4af37
 Fond des sections, call to action      : #0072b5
 */

html {
    /* Définition taille de base, recalibrage avec les rem*/
    font-size: 16px;
}

body {
    margin: 0 7.5% 0 7.5%;
    background: #0a0a0a;
    color: #c0c0c0;
}

@font-face {
    font-family: "cheddar-gothic-rough";
    src: url('fonts/CheddarGothicRough-Regular.otf') format('truetype');
}

@font-face {
    font-family: "karol-sans-regular";
    src: url('fonts/Karol_Sans_Regular.otf') format('truetype');
}

@font-face {
    font-family: "karol-sans-bold";
    src: url('fonts/Karol_Sans_Bold.otf') format('truetype');
}

@font-face {
    font-family: "karol-sans-regular-italic";
    src: url('fonts/Karol_Sans_Regular_Italic.otf') format('truetype');
}

h1, h2, h3, h4, h5, h6, ol, ul, li {
    font-family: "cheddar-gothic-rough", sans-serif;
}

ol, ul, li, p {
    font-family: karol-sans-regular, sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

div.logo-wrapper {
    width: 80%;
    margin: 0 auto;
}

div.albums {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


